@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: #000000;
    transition: 0.3s ease-in-out;
}

a{
    text-decoration: none;
}

button{
    border: 0;
    background: transparent;
    cursor: pointer;
}

img{
    height: auto;
    border: 0;
    display: block;
    max-width: 100%;}

html{
    font-size: 62.5%;
}